.normal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.shadow {
  box-shadow: 0 0 100px rgb(51, 51, 51, 0.2);
}
.bg-white {
  background-color: #fff;
}

.bg-green {
  background-color: greenyellow !important;
}
.bg-red {
  background-color: red !important;
}
.border {
  border: 1px solid rgb(51, 51, 51, 0.2);
}

.text-white {
  color: #fff;
}

.rounded {
  border-radius: 5px;
}

.w-full {
  width: 70%;
}

.h-full {
  height: 100%;
}

.h-20 {
  height: 2rem;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my {
  margin: 50px 0 50px 0;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.w-1 {
  width: 25%;
}

.w-2 {
  width: 60%;
}

.pointer {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}
